.cfTozgJZkM {
    background: url(../../app/assets/images/Group.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 812px;
    padding-top: 120px;
}
.cfTozgJZkM img {
    object-fit: cover;
}
.kO3b6fa4cU {
    display: flex;
    flex-wrap: wrap;
}
.kO3b6fa4cU h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
}
.WaBH7qwTJJ {
    width: 500px;
}
.Lu48t7rla3 {
    width: 487px;
    height: 75px;
    color: #868686;
    
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    /* or 25px */
}
.XNovjytVrz img {
    width: 585.33px;
    height: 626.67px;
}
.kO3b6fa4cU {
    justify-content: center;
    position: relative;
    // top: 100px;
}
.XNovjytVrz {
    padding-left: 180px;
}
.ncOwfelSYc {
    padding: 20px;
    display: flex;
    position: relative;
    background-color: aqua;
    width: 250px;
    height: 360px;
}

.ncOwfelSYc p {
    padding-left: 5px;
    padding-bottom: 10px;
    width: 100px;
    height: 2px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #868686;
}
.neBRnBh7G {
    padding-left: 10px;
}
.uNCtMNPadv img {
    padding-top: 8px;
}
.cghXZNj75a {
    display: flex;
}
.mVZGJursc {
    position: relative;
    margin-right: 40px;

    &:last-child{
        margin-right: 0;
    }
}
.cghXZNj75a img {
    width: 230.67px;
    height: 357px;
    border: 1.33333px solid #f8f8f8;
    box-shadow: 0px 0px 79.9998px rgba(0, 0, 0, 0.15);
}
.VgyE4eOW6l button {
    top: 85%;
    border: none;
    width: 230.67px;
    height: 57.33px;
    background: #ddefdf;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #00ad14;
    position: absolute;
    bottom: 0;
}
.cghXZNj75a{
    padding-top: 20px;
}
