.KG97vgjnHz {
    background-color: #f4f4f4;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 50px;
}
.KG97vgjnHz h2 {
    padding-top: 50px;
    font-size: 40px;
    text-align: center;
}
.M1ZiRS5XK {
    justify-content: space-around;
    display: flex;
}
.OR6UckNad7 {
    display: flex;
    width: 700px;
}
.GYiQ4c60ul img {
    padding: 45px;
}
.GYiQ4c60ul p {
    //styleName: Title H4;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #868686;
    padding-top: 20px;
    padding-left: 20px;
}
.TY7qSM15Nd {
    border-radius: 10px;
    box-shadow: 0px 5.33332px 93.3331px rgba(8, 55, 0, 0.15);
    margin: 20px;
    background-color: #ffff;
    &:hover {
        cursor: pointer;
        background-color: #e2f9e4;
        border: #2ad03d;
        color: #2ad03d;
    }
}
.f0J9GeYuFN {
    width: 500px;
}
.TY7qSM15Nd {
    margin-bottom: 56px;
}
.TY7qSM15Nd:hover p {
    color: #2ad03d;
}
.Z7qCneydBq img {
    height: 400px;
}
.fv5BFyOeaE {
    position: absolute;
    bottom: 20px;
}
.Z7qCneydBq button {
    width: 129px;
    height: 24px;
    
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    justify-content: center;
    color: #ffffff;
    cursor: pointer;
    width: 320.39px;
    height: 57.33px;
    border: none;
    background-color: #2ad03d;
    margin-top: 20px;
    margin-left: 20px;
}
.activeSlide {
    margin: 20px;
    border-radius: 10px;
    margin-bottom: 56px;
    box-shadow: 0px 5.33332px 93.3331px rgba(8, 55, 0, 0.15);
    background-color: #e2f9e4;
    border: #2ad03d;
    color: #2ad03d;
}
.activeSlide p {
    color: #2ad03d;
}
