.GVWKGE6Anh {
    background: url(../../app/assets/images/background2.png);
    height: 900.33px;
    object-fit: cover;
    max-width: 100%;

    .mkLPLKVQxN {
        display: flex;
        justify-content: space-between;
        padding-top: 150px;
        width: 1400px;
        margin: auto;
    }
    .IMrCuk4Rgu {
        background-color: #ffffff;
        padding: 25px;
    }
    .oTCo2Pg849 {
        align-items: baseline;
        justify-content: space-between;
        display: flex;
    }
    .oTCo2Pg849 label {
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        color: #006d0d;
    }
    .oTCo2Pg849 span {
        padding-left: 50px;
        color: #4b4b4b;
        justify-items: end;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
    }

    .RnXqkcUNPI {
        // flex-basis: calc(384px);
        background-color: #ffffff;
        position: relative;
        box-shadow: 0px 5.33332px 106.666px rgba(0, 56, 7, 0.09);
        
        &::before {
            content: " ";
            position: absolute;
            bottom: 100%;
            background-color: #ffffff;
            width: 100%;
            height: 60px;
        }
    }
    .ALoGksaK3F {
        flex-basis: calc(50%);
    }
    .I1fN0FbHHk {
        position: relative;
        top: -50px;
    }
    .I1fN0FbHHk h3 {
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 34px;
        display: flex;
        align-items: center;
        text-align: center;
    }
    .xk4UMEs3ur {
        display: flex;
        justify-content: center;
    }
    .YdpZm6140t {
        font-style: normal;
        font-weight: 700;
        font-size: 85.3331px;
        line-height: 100px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #4b4b4b;
    }
    .ngMovepIG0 {
        font-weight: 700;
        font-size: 60.3331px;
        line-height: 40px;
        margin-top: 40px;
        color: #4b4b4b;
    }
    .HpOVcrp24I {
        text-align: center;
    }
    .CBnDqAQb5W {
        margin-top: 10px;
    }
    .TFA2Tp5sm {
        color: #006d0d;
        max-width: 1400px;
        margin: 0 auto;
    }
    .EoGduxS4PW {
        display: flex;
        margin-top: 33px;
    }
    .PYWjB5ABjt {
        background: rgba(0, 0, 0, 0.7);
        width: calc(100% - 24px);
        margin: auto;
    }
    .fI74wRqRIW {
        display: flex;
        img {
            width: 158px;
            height: 232px;
            object-fit: cover;
        }
    }
    .w4jt8ZeBeV {
        background-color: black;
        width: 158px;
    }
    .XNq857AIz9 {
        padding-left: 10px;
    }
    .gi2pvYa0DN h3 {
        padding: 25px;
        height: 34px;
        font-weight: 700;
        font-size: 28px;
        line-height: 34px;
        color: #00ad14;
    }
    .gi2pvYa0DN p {
        color: #ffffff;
        padding-left: 20px;
        padding: 25px;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
    }
    .rBHwGKEOa1 h3 {
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 34px;
        align-items: center;
        color: #ffffff;
    }
    .rBHwGKEOa1 {
        margin-top: 30px;
        text-align: center;
    }
    .TFA2Tp5sm {
    }
}
