.fs4p1Vz97C {
    padding-top: 50px;
}

.fs4p1Vz97C h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 0;
}

.iNiSHUrxCw {
    width: 100%;
    height: 700px;
    position: relative;
}

.GsimJWIZKs {
    // position: relative;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
}

.gUIBZ5yAyO {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    z-index: 10;
}

.wadFTcjB1Y {
    display: flex;
}

.rRL0PM2MSI {
    width: 108px;
    height: 108px;
}

.v1nesqZDvd {
    padding-right: 50px;
}

.euy2Qp0no1 {
    padding-left: 50px;
}
.dCq1aRBVnn {
    padding-right: 24px;
    text-align: right;
}
.CoMIxbBwVW {
    padding-left: 24px;
    text-align: left;
}
.S7MTRp4iZG {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #4b4b4b;
    max-width: 340px;
}

.gUIBZ5yAyODhrtlFFcBL {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    z-index: 10;
}
.PjNKm7t3LK {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
