.WaIoOhPW7 {
    background-color: #ffff;
    justify-content: center;
    min-height: 650px;
    display: flex;
    flex-wrap: wrap;
}
.jsuCq5gNwư h2 {
    width: 426.67px;
    height: 96px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #4b4b4b;
    text-align: start;
}
.jsuCq5gNwư {
    display: flex;
    align-items: center;
}
.jsuCq5gNwư button {
    cursor: pointer;
    border: none;
    width: 278.67px;
    height: 57.33px;
    background: #00ad14;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}
