.rexyosbrff {
  width: 100%;
  display: flex;
  align-items: center;
}
.dvsytylibp {
  width: 108px;
  height: 108px;
  background: #ddefdf;
  border-radius: 50%;
  text-align: center;
  padding: 33px;
}
.dkhvfbnlxs {
  height: 42px;
  width: 42px;
}
.ryasykiuff {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #4b4b4b;
  margin-bottom: 0;
  padding-left: 26px;
}
