.CSBCOTMWYO {
    background: #182831;
    padding-bottom: 68px;
    padding-top: 41px;
    box-shadow: -25px -25px 79px rgba(0, 0, 0, 0.1);
}
.TXMBUAFLCP {
    margin: auto;
    padding-left: 32px;
    padding-right: 32px;
    max-width: 1500px;
    @media (max-width: 1200px) {
        padding-left: 10px;
        padding-right: 5px;
    }
}
.SLAWPWIQCC {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 24px;
    @media (max-width: 1200px) {
        justify-content: center;
    }
}
.CNRWPZXXGH {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: 1200px) {
        justify-content: center;
    }

    .ITJCICVRHL {
        flex-basis: 186px;
        @media (max-width: 1200px) {
            flex-basis: 100%;
        }
    }
}

.ECSDZZDBTQ {
    list-style: none;
    padding-left: 0;
}
.VHOKVWWEKV {
    color: #fff;
    font-weight: 500;
    a {
        color: #fff;
        font-size: 20px;
        font-weight: 400;
        transition: 0.6s all;

        &:hover {
            color: #009711;
            opacity: 0.5;
        }
    }
}
.RYLHBKAYRP {
    padding-top: 14px;
    @media (max-width: 1200px) {
        padding-left: 12px;
        padding-right: 12px;
        .G7nltkX8E7 {
            display: flex;
            justify-content: center;
        }
    }
}

.HFKOFYWAKO {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 12px;
}
.FJMLLGBXPF {
    cursor: pointer;
    margin-bottom: 12px;
}
.FNYKTYPGUC {
}
.GLPGTTAPNQ {
    flex-basis: 334px;
    text-align: center;
    padding-bottom: 16px;
    border-bottom: 2px solid #ffffff;

    @media (max-width: 1200px) {
        padding-left: 12px;
        padding-right: 12px;
    }
}
.WHGPKIIHGU {
}
.PYZVHOXMLY {
    margin-bottom: 8px;
}
.EHXTKMIFPK {
    display: flex;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
}
.MKRDJRFUSM {
    cursor: pointer;
    width: 40px;
    height: 40px;

    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}

.XOLJYDTAWI {
    flex-basis: 380px;

    @media (max-width: 1200px) {
        flex-basis: 100%;
    }
}
.GQSKINROJN {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 1200px) {
        justify-content: flex-start;
    }
}
.LNFMHVFWNH {
    display: flex;
    margin-bottom: 12px;

    @media (max-width: 1200px) {
        flex-basis: 100%;
    }
}
.Als9qHhB8E {
    display: flex;
    align-items: center;
    svg {
        min-width: 25px;
        height: 25px;
    }
    .VHOKVWWEKV {
        padding-left: 12px;
        font-size: 18px;
    }
    .LoOaxGVL1q {
        color: #fff;
        padding-top: 5px;
        font-size: 18px;
    }
}
.RMUOOZORDA {
    font-size: 18px;
    font-weight: 400;
    color: #4b4b4b;
}
.PLNCUHBMTO {
    font-size: 18px;
    font-weight: 400;
    color: #009711;
    font-weight: bold;
}
.IXUAQROWJR {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 700px) {
        justify-content: center;
        flex-basis: 100%;
    }
}
.RZXWQPSXHL {
    margin-right: 8px;

    &:last-child {
        margin-right: 0;
    }
}
.TUDVASUAMI {
    width: 150px;
    height: 155px;
    @media (max-width: 500px) {
        max-width: 147px;
    }
}
.uAiTBo2070 {
    font-size: 18px;
    max-width: 1200px;
    margin: 0 auto;
    color: #868686;
    @media (max-width: 1200px) {
        padding-top: 12px;
        flex-basis: 100%;
        text-align: center;
    }
}
