.jP3r14TGp1 {
  padding: 0 228px;
  margin-top: 42px;

  @media (max-width:1200px) {
    padding: 0 100px;
  }

  @media (max-width:700px) {
    padding: 0 20px;
  }

  .tjHiCH4Vbz {
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    align-items: center;
    text-align: center;
    color: #4b4b4b;

    @media (max-width:1200px) {
      font-size: 14px;
      line-height: 16px;
    }

    .K2Mf5jiyaT {
      font-weight: 700;
      font-size: 28px;
      line-height: 34px;

      @media (max-width:1200px) {
        font-size: 14px;
      }
    }
  }

}