.H7upRi8zY0 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 90px 0;
}
.mkgompybep {
  background: #f4f4f4;
}
.vtieggsjau {
  width: 100%;
  padding-top: 35px;
  text-align: center;
}
.fzqwdkxbmr {
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  width: 292px;
  height: 57.33px;
  background: #00ad14;
  border: none;
}
