.ovegnluwwo {
  width: 100%;
}

.ivphpqjawu {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #4b4b4b;
}

.mtmvowjype {
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  color: #4b4b4b;
}

.fzqztzwilo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.mzfkhfmfff {
  flex-basis: calc(33% - 112px);
}

.pbawktuwnv {
}

.rasnbzloll {
  width: 100%;
  padding: 36px 0;
}

.bjlcmrwakf {
  max-width: 108px;
  height: 108px;
  background: #ddefdf;
  border-radius: 50%;
  text-align: center;
  padding: 33px 0;
  margin-left: auto;
}

.zcdfoenfoj {
  max-width: 108px;
  height: 108px;
  background: #ddefdf;
  border-radius: 50%;
  text-align: center;
  padding: 33px 0;
}

.fqbrgayacd {
  height: 42px;
  width: 42px;
}

.dbcmzufuyi {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-align: right;
  color: #4b4b4b;
  padding-top: 14px;
}

.wojrracrao {
  width: 100%;
  padding: 36px 0;
}

.neznwmbxil {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-align: left;
  color: #4b4b4b;
  padding-top: 14px;
}

.xjncxkxcbh {
  position: relative;
  flex-basis: calc(33% - 112px);
}

.hpjzxyeift {
  position: relative;
  width: 472px;
  height: 472px;
  background: #ffffff;
  border: 1px solid #b1daa7;
  box-shadow: 0px 0px 79px rgba(0, 159, 18, 0.17);
  border-radius: 50%;
}

.dwnmewxdps {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
