.Ef3dMaxKL5 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 632px;
  background: #f1f1f1;
}
.ipf1pWoxKd {
  height: 100%;
}
.TvzFegcaLf {
  max-width: 694px;
  margin-left: 220px;
}
.NIFujCfb3v {
  top: 50%;
  left: 20px;
}
.Pi8FouJJFd {
  font-weight: 700;
  font-size: 48px;
  text-transform: uppercase;
  color: #4b4b4b;
  margin-bottom: 0;
}
.CxkeZ9bQaj {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 350px;
}
.q1cv9GMIxw {
  min-width: 153px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  background: #00ad14;
  border: none;
  height: 57px;
}
.Dls489oSQW {
  height: 100%;
}
