.IBtuhX2LN1 {
  width: 100%;
}

.eqCW3gtOm2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #4b4b4b;
  margin-bottom: 63px;
  text-align: center;
}

.N0uKgW4PIS {
  background: #f4f4f4;
  padding: 65px;
}

.H8IntgCk68 {
  border-bottom: 2px solid #ffffff;
}
