.B1bp5Qv4CM {
  padding-top: 122px;
  padding-bottom: 104px;
}

.aal2RHT50q {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #4b4b4b;
  margin-bottom: 93px;
}

.zBLZAu5aAN {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cN4lFYfa3S {
  // flex-basis: calc(25% - 80px);
}

.BtGQLLemgG {
  padding-top: 101px;
  text-align: center;
}

.vtQJ8AipYz {
  width: 413.33px;
  height: 57.33px;
  background: #00ad14;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
}
