.ACXyAOC4CU {
  position: relative;
  width: 100%;
}

.qjh0UifDDs {
  background: #e3ffdc;
  border: 1px solid #2ad03d;
  box-shadow: 0px 0px 53px rgba(42, 208, 61, 0.42);
  border-radius: 50%;
  width: 145px;
  height: 145px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-154%);
}

.YjGhbQVzUh {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.C2bKnMydbU {
  height: 290px;
  background: #ffffff;
  border-top: #2ad03d 1px solid;
}

.R8LQyuvvaG {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #4b4b4b;
  padding: 121px 53px;
  margin-bottom: 0;
}
