.Arz7oVc59q {
  width: 100%;
}

.j0vBbKQMpo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.JvA1avuuxd {
  font-weight: 700;
  font-size: 64px;
  color: #00ad14;
}

.xpIL7rrerx {
  font-weight: 700;
  font-size: 20px;
  line-height: 34px;
  color: #00ad14;
  margin-bottom: 0;
  padding-left: 15px;
}

.orgC6OPoHf {
  margin: 0 auto;
  width: 2px;
  height: 45px;
  background: green;
}

.bnQO0WkGtv {
  width: 93px;
  height: 93px;
  background: #f4f4f4;
  border: 7px solid #ffffff;
  margin: 0 auto;
  border-radius: 50%;
  position: relative;
}

.wxTITEFqZS {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
