.iwWgnF1R1B {
  width: 100%;
}

.aaSupp3HZY {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  padding: 40px 0;
}

.NmKiaX5hWh {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.TPnW2U8csX {
  width: 27px;
  height: 20px;
}

.mwSIIOmHa5 {
  display: flex;
  align-items: center;
  padding-left: 30px;
  margin-bottom: 35px;
}

.Sr3QBHGg7x {
  background: #009711;
  width: 5px;
  height: 25px;
}

.Tg17MasdMs {
  font-weight: 400;
  font-size: 18px;
  color: #979797;
  padding-left: 20px;
}
