.b6RfS7C94z {
  padding: 0 212px;
  padding-top: 85px;
  padding-bottom: 132px;
  background: #f4f4f4;
}

.xLLVjMxPUg {
}

.DiVKqdx83e {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #4b4b4b;
}

.mypBBRivch {
  background: #f4f4f4;
  box-shadow: inset 0px 0px 26.6666px rgba(0, 173, 20, 0.05);
  // height: 520px;
  padding: 20px;
}

.VLddycHm7c {
  background: #f4f4f4;
  box-shadow: inset 0px 0px 26.6666px rgba(0, 173, 20, 0.05);
  padding: 20px;
}

.KYylnRzoWZ {
  background: #f4f4f4;
  box-shadow: inset 0px 0px 26.6666px rgba(0, 173, 20, 0.2);
  padding: 20px;
}

.oFsDkEn6hw {
  background: #f4f4f4;
  box-shadow: inset 0px 0px 26.6666px rgba(0, 173, 20, 0.2);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.MuuuQa4iiN {
  flex-basis: 50%;
  text-align: center;
}

.aHonN85nUm {
  background: #fff;
  height: 84px;
}

.rtn6V8ZtCI {
  padding: 25px 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #4b4b4b;
}

.tyQhYLFvi7 {
  height: 152px;
  padding: 10px 88px;
}

.ASg7GmFeNX {
  font-weight: 400;
  font-size: 18px;
  color: #4b4b4b;
}

.vg6kEI5daq {
  width: 100%;
  border: none;
  outline: none;
  padding: 5px;
  height: 57px;
}

.tja90TjWrc {
  height: 60px;
  background: #a7a7a7;
}

.kOaJMtPF4c {
  height: 60px;
  background: #a7a7a7;
  width: 100%;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
