.AlOoIjLZug {
  position: relative;
  width: 100%;
  height: 600px;
}

.YXhJrYwGkS {
  background: url("../../app/assets/images/img-ra-quyet-dinh.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.ze1FZsT4iY {
  position: absolute;
  top: 10%;
  padding: 0 234px;
}

.cXtSUkm8XI {
}

.TcKNDREQMo {
  font-weight: 700;
  font-size: 48px;
  color: #ffffff;
}

.squO1pWTQb {
  display: flex;
  justify-content: left;
  padding: 15px 0;
}

.K9j9QxMDee {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background: #00ff7d;
  text-align: center;
  padding: 12px 0;
}

.HmEK3KwBAR {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #4b4b4b;
}

.icPqiQ0SZe {
  padding-left: 17px;
}

.jtKdsRPWJD {
  font-weight: 700;
  font-size: 28px;
  color: #00ff7d;
  margin-bottom: 0;
}

.tA1Xwqbh2F {
  width: 90%;
  float: left;
  border-bottom: 1px solid #00680c;
}
