.Ef3dMaxKL5 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 632px;
  position: relative;
}
.ipf1pWoxKd {
  height: 100%;
  width: 100%;
  text-align: right;
  position: relative;
}
.TvzFegcaLf {
  max-width: 694px;
  position: absolute;
  left: 220px;
}
.NIFujCfb3v {
  top: 50%;
  left: 20px;
}
.Pi8FouJJFd {
  font-weight: 700;
  font-size: 48px;
  text-transform: uppercase;
  color: #4b4b4b;
  margin-bottom: 0;
}
.trbqbnvewv {
  font-weight: 700;
  font-size: 48px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 0;
}
.Whv7PE2fNf {
  font-weight: 400;
  font-size: 22px;
  color: #4b4b4b;
}
.pilmjrjcpd {
  font-weight: 400;
  font-size: 22px;
  color: #fff;
}
.CxkeZ9bQaj {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 350px;
}
.LI6lXmXNdU {
  min-width: 153px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #00ad14;
  background-color: transparent;
  border: 1px solid #00ad14;
  height: 57px;
}
.q1cv9GMIxw {
  min-width: 153px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  background: #00ad14;
  border: none;
  height: 57px;
}
.Dls489oSQW {
  height: 100%;
  width: 100%;
  background: #f7f7f7;
}
.iokbawslch{
  height: 100%;
}
.aazqzfzrvv {
  background: linear-gradient(90deg, #f9f9f9 -0.1%, rgba(249, 249, 249, 0) 95.98%);
  width: 100%;
  height: 100%;
  position: absolute;
}
.zdllafenoe {
  max-width: 314px;
  height: 57px;
  background: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #00ad14;
  border: none;
}
