//1
.SJHcJ9QKPl {
  float: right;
  width: 1146px;
  margin-left: 200px;
  display: flex;
  align-items: center;
  position: relative;
  margin: 28px 0;
}

//2
.wq1HSm3cZ3 {
  float: left;
  width: 1146px;
  margin-right: 200px;
  display: flex;
  align-items: center;
  position: relative;
  margin: 28px 0;
}

//1
.fdrAQnMbFa {
  flex-basis: 30%;
  height: 174px;
  background: #fdfdfd;
  border: 1px solid #2ad03d;
  box-shadow: inset 0px 0px 79px rgba(0, 151, 17, 0.29);
}

//1
.XgP0ItcdIh {
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #00ad14;
  margin-bottom: 0;
  padding: 48px;
}

//1
.pz6XGOLDiI {
  background: #e3ffdc;
  border: 1px solid #00ad14;
  box-shadow: 0px 0px 39px rgba(42, 208, 61, 0.28);
  border-radius: 146px;
  height: 174px;
  width: 174px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-184%, -50%);
}

//2
.ot0dIoW5EE {
  background: #e3ffdc;
  border: 1px solid #00ad14;
  box-shadow: 0px 0px 39px rgba(42, 208, 61, 0.28);
  border-radius: 146px;
  height: 174px;
  width: 174px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(80%, -50%);
}

//1
//2
.iXoM0SyXe7 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//1
//2
.riEShhy3aZ {
  flex-basis: 70%;
  height: 174px;
  background: #f7f7f7;
  border: 1px solid #e4e4e4;
  padding: 42px 36px;
}

//1
//2
.iw96v37S93 {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: #4b4b4b;
  margin-left: 84px;
}

//2
.JfNmZ4ywsX {
  flex-basis: 30%;
  height: 174px;
  background: #fdfdfd;
  border: 1px solid #2ad03d;
  box-shadow: inset 0px 0px 79px rgba(0, 151, 17, 0.29);
}
