.RrCMojIo85 {
  background: #fff;

  @media (max-width: 700px) {
    padding-top: 130px;
  }
}

.cht3UcxEe3 {
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  text-transform: uppercase;
  color: #4b4b4b;
  padding-top: 80px;

  @media (max-width: 1200px) {
    padding-top: 120px;
    font-size: 32px;
  }

  @media (max-width: 700px) {
    padding: 0 50px;
    font-size: 20px;
    line-height: 22px;
  }
}

.Zybm5FStcq {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;

  @media (max-width: 1200px) {
    flex-wrap: wrap;
    width: calc(100% - 30px);
    margin: 0 auto;
    padding-top: 38px;
  }
}

.Z9ylUO8Xxa {
  margin-top: 23px;
  flex-basis: calc(33% + 8px);
  width: 100%;
  box-shadow: 0px 5px 106px rgba(0, 56, 7, 0.09);

  @media (max-width: 1200px) {
    flex-basis: 100%;
    padding-top: 40px;
  }
}

.PyKh0Ikqr6 {
  flex-basis: calc(33% + 8px);
  width: 100%;
  box-shadow: 0px 5px 106px rgba(0, 56, 7, 0.09);

  @media (max-width: 1200px) {
    flex-basis: 100%;
    margin-top: 40px;
  }
}

.DFw2aXiVQU {
  background: #F2F2F2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 130px;

  @media (max-width: 1200px) {
    height: 64px;
  }
}

.dctLPT83aK {
  background: #F2F2F2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 154px;

  @media (max-width: 1200px) {
    height: auto;
    padding: 20px 0;
  }
}

.dvvsabtmqz {
  position: absolute;
  top: -95px;
  margin: 40px;
  width: 107.72px;
  height: 107.72px;
  background: #e3ffdc;
  border: 1.33333px solid #d0d0d0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 1200px) {
    margin: 2px;
    width: 70px;
    height: 70px;
    top: -35px;
  }

  @media (max-width: 700px) {
    width: 50px;
    height: 50px;
  }

  .E23Mak3KoZ {
    height: 55px;
    width: 55px;

    @media (max-width: 1200px) {
      width: 30px;
      height: 30px;
    }

    @media (max-width: 700px) {
      width: 22px;
      height: 22px;
    }
  }
}

.DzUsbRarR0 {
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #00ad14;
  margin-bottom: 0;
  padding-top: 20px;

  @media (max-width: 1200px) {
    font-size: 24px;
    line-height: 30px;
  }

  @media (max-width: 700px) {
    font-size: 16px;
    line-height: 22px;
    padding-top: 0;
  }
}

.MOyKOLLmgI {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 48px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #4b4b4b;
  margin-bottom: 0;

  @media (max-width: 1200px) {
    padding: 32px;
    background: #F2F2F2;
  }

  @media (max-width: 700px) {
    padding: 20px;
    font-size: 12px;
  }
}