.rBOdnuAOq7 {
  padding: 20px 170px;
  .DHsRLoLsKz {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    .vYYs5PNUVv {
    }
    .ojMND3qJYP {
    }
  }
  .YdiKM7OTeW {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .hmEaomcuRH {
      margin: 15px 0;
      background: #f8f8f8;
      border: 1.33333px solid #f4f4f4;
      flex-basis: calc(50% - 20px);
      .DCr1y8ARdT {
        // padding: 16px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #fff;
        .PYDtwB3lOq {
          padding-left: 20px;
          font-weight: 700;
          font-size: 22px;
          color: #00ad14;
          margin-bottom: 0;
        }
        .SgVyH8Hxj4 {
          background: #fff;
          padding: 8px;
          .uZR6zm8ucg {
            padding: 8px;
            font-size: 20px;
          }
        }
      }
      .VgDmcQzW48 {
        .I2bIsXqquH {
          padding-left: 20px;
          margin-top: 8px;
        }
      }
    }
  }
}
